body {
  height: 100vh;
  background-color: #189ab4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  color: #05445e;
}

.field-container {
  display: grid;
  width: 303px;
  grid-template-columns: repeat(3, auto);
}
.cell {
  cursor: pointer;
  color: #05445e;
  background-color: #d4f1f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

button {
  border: none;
  background-color: #75e6da;

  padding: 20px 60px;
  margin: 30px;
  color: #05445e;
  font-size: 1.2rem;
}
button:enabled {
  background-color: #75e6da;
}
button:active {
  background-color: #d4f1f4;
}
#game-state {
  padding: 20px;
}
